.carousel-caption .breadcrumbs {
    text-transform: uppercase;
    font-size: .8em !important;
    letter-spacing: 1px;
    margin-bottom: 20px;
    z-index: 99;
    font-weight: 900;
    letter-spacing: 2px; 
}
.carousel-caption .breadcrumbs span {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5); 
}
.carousel-caption .breadcrumbs span a {
    color: #fff; 
    text-decoration: none;
}
.carousel-caption .bread {
    text-transform: uppercase;
    font-size: 5em !important;
    color: #fcd307;
    line-height: 1.2;
    letter-spacing: 2px !important;
    font-weight: 900;
    font-style: italic; 
}

.contact-section .h4 {
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2; 
    text-transform: uppercase;
    font-style: italic;
}
.contact-section p {
    font-size: 1em !important;
    text-align: left;
}
.contact-section p span {
    color: #000000cb;
    font-weight: 500;
    font-size: 0.9em !important;
}
.contact-section p a {
    color: #fcd307;
    font-weight: 500;
    font-size: .9em !important;
    text-decoration: none;
}
.contact-form .form-control {
    border: transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
    height: 58px !important;
    padding-left: 0;
    padding-right: 0;
    background: transparent !important;
    color: rgba(0, 0, 0, 0.9) !important;
    font-size: 13px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
}
.contact-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.5); 
    font-size: .9em !important;
    font-weight: 500;
}
.contact-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.5); 
    font-size: .9em !important;
    font-weight: 500; 
}
.contact-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.5); 
    font-size: .9em !important;
    font-weight: 500; 
}
.contact-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.5); 
    font-size: .9em !important;
    font-weight: 500; 
}
.contact-form .form-control{
    border-color: #fce30771 !important; 
}
.contact-form .form-control:focus, .contact-form .form-control:active {
    border-color: #fcd307 !important; 
}

.contact-form textarea.form-control {
    height: inherit !important; 
}

.contact-form .btn-primary {
    background: #fc6b29;
    background: -moz-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #fc6b29), color-stop(100%, #f1e767));
    background: -webkit-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -o-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -ms-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6b29', endColorstr='#f1e767', GradientType=1 );
    border: transparent; 
}
.contact-form .btn-primary:hover {
    background: #fc6b29;
    background: -moz-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #fc6b29), color-stop(100%, #f1e767));
    background: -webkit-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -o-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -ms-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6b29', endColorstr='#f1e767', GradientType=1 );
    border: transparent;
    color: #fff; 
}
.block-9 .form-control {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px; 
}