.form-control
{
  width: 100%;
  margin-bottom: .5rem;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #fd6602;
  font-size: 1em;
  padding-bottom: 1rem;
}
.form-control:focus {
    box-shadow: none;
}
input[type="checkbox"] {
    margin-bottom: 2.5rem;
}
button[type="submit"] {
  background: linear-gradient(to right, #e02626 0%, #ee892b 100%);
  border: 2px solid #e74444;
  margin-left: .5rem;
  color: #ffffff;
}
button[type="submit"]:hover {
  background: #00000000;
  border: 2px solid #e02626;
  color: #e02626;
}
.modal-footer {
    justify-content: center;
}
.modal-footer a {
    text-decoration: none;
    color: #ef5f0b
}