@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.carousel-caption .breadcrumbs {
    text-transform: uppercase;
    font-size: 16px !important;
    letter-spacing: 1px;
    margin-bottom: 20px;
    z-index: 99;
    font-weight: 900;
    letter-spacing: 2px; 
}
.carousel-caption .breadcrumbs span {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5); 
}
.carousel-caption .breadcrumbs span a {
    color: #fff; 
    text-decoration: none;
}
.carousel-caption .bread {
    text-transform: uppercase;
    font-size: 80px !important;
    color: #fcd307;
    line-height: 1.2;
    letter-spacing: 2px !important;
    font-weight: 900;
    font-style: italic; 
}
.card-body {
    margin-bottom: 1.8rem;
    padding: 1.8rem;
    background: #fff; 
}
.card-body .heading {
    font-size: .8em;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: 900;
    margin-bottom: .7rem;
    display: inline-block;
    text-transform: uppercase; 
}
.card-body .heading p {
    color: #000000c9 !important;
}
.card-body .heading-2, .price-disc .heading-2 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600; 
}
.card-body .price {
    margin: 0;
    padding: 0;
    display: block; 
}
.card-body .price sup {
    font-size: 1.5em;
    top: -1em;
    color: #fcd307; 
}
.card-body .price .number {
    font-size: 3.5em;
    font-weight: 500;
    color: #fcd307;
    background: #fc6b29;
    background: -moz-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #fc6b29), color-stop(100%, #f1e767));
    background: -webkit-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -o-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -ms-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6b29', endColorstr='#f1e767', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.card-body .excerpt {
    margin-bottom: 1.5rem;
    color: #8d8d8d; 
}
.card-body .label2 {
    text-transform: uppercase; 
}
.card-body .pricing-text {
    margin-bottom: 0; 
}
.card-body .pricing-text, .card-body .pricing-text li {
    padding: 0;
    margin: 0; 
}
.card-body .pricing-text li {
    list-style: none;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
    color: #4d4d4d; 
}
.card-body .btn-primary {
    color: #fff;
    background: #fc6b29;
    background: -moz-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #fc6b29), color-stop(100%, #f1e767));
    background: -webkit-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -o-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: -ms-linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    background: linear-gradient(45deg, #fc6b29 0%, #f1e767 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6b29', endColorstr='#f1e767', GradientType=1 );
    border: transparent;
    text-transform: uppercase;
    font-style: 1rem;
    font-weight: 600;
    letter-spacing: 1px; 
}
.card-body .btn-primary:hover, .card-body .btn-primary:focus {
    border: transparent;
    background: #fd6b00;
    background: -moz-linear-gradient(45deg, #fd0054 0%, #fd6b00 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #fd0054), color-stop(100%, #fd6b00));
    background: -webkit-linear-gradient(45deg, #fd0054 0%, #fd6b00 100%);
    background: -o-linear-gradient(45deg, #fd0054 0%, #fd6b00 100%);
    background: -ms-linear-gradient(45deg, #fd0054 0%, #fd6b00 100%);
    background: linear-gradient(45deg, #fd0054 0%, #fd6b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd0054', endColorstr='#fd6b00', GradientType=1 );
    color: #fff; 
}
.price-disc .card-img {
    width: 100%;
    transform: translate(10%, 50%);
}
.price-disc .card {
    border: none;
    box-shadow: none;
}
.price-disc .card-body {
    margin: 0;
}
.price-disc .card-text {
    text-align: left;
    font-family: "Roboto", sans-serif;
}








/*---Media Queries --*/
  @media (max-width: 992px) {
    .price-disc .card-img {
        width: 100%;
        transform: translate(10%, 100%);
    }

}
  @media (max-width: 768px) {
    .carousel-caption .breadcrumbs {
        text-transform: uppercase;
        font-size: 1em !important;
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
        z-index: 99;
        font-weight: 900;
        letter-spacing: 2px; 
    }
    .carousel-caption .breadcrumbs span {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.7); 
    }
    .carousel-caption .breadcrumbs span a {
        color: #fff; 
        text-decoration: none;
    }
    .carousel-caption .bread {
        text-transform: uppercase;
        font-size: 80px !important;
        color: #fcd307;
        line-height: 1.2;
        letter-spacing: 2px !important;
        font-weight: 900;
        font-style: italic; 
        margin-top: 1rem !important;
    }
    .price-disc .card-img {
        width: 70%;
        transform: translate(30%, 70%);
    }
  }
  @media (max-width: 576px) {
      .carousel-caption .breadcrumbs {
        text-transform: uppercase;
        font-size: .7em !important;
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
        z-index: 99;
        font-weight: 900;
        letter-spacing: 2px; 
    }
    .carousel-caption .breadcrumbs span {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.7); 
    }
    .carousel-caption .breadcrumbs span a {
        color: #fff; 
        text-decoration: none;
    }
    .carousel-caption .bread {
        text-transform: uppercase;
        font-size: 2.8em !important;
        color: #fcd307;
        line-height: 1.2;
        letter-spacing: 2px !important;
        font-weight: 900;
        font-style: italic; 
        margin-top: 2.5rem !important;
    }
    .price-disc .card-img {
        width: 70%;
        transform: translate(50%, 100%);
    }
  }
  @media (max-width: 320px) {
      .carousel-caption .breadcrumbs {
        text-transform: uppercase;
        font-size: .7em !important;
        letter-spacing: 1px;
        margin-bottom: 20px;
        z-index: 99;
        font-weight: 900;
        letter-spacing: 2px; 
    }
    .carousel-caption .breadcrumbs span {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.7); 
    }
    .carousel-caption .breadcrumbs span a {
        color: #fff; 
        text-decoration: none;
    }
    .carousel-caption .bread {
        text-transform: uppercase;
        font-size: 1.8em !important;
        color: #fcd307;
        line-height: 1.2;
        letter-spacing: 2px !important;
        font-weight: 900;
        font-style: italic; 
        margin-top: .8rem !important;
    }
    .price-disc .card-img {
        width: 100%;
        transform: translate(30%, 100%);
    }
  }

  /*---Firefox Bug Fix --*/
  .carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  /*--- Fixed Background Image --*/
  figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #fixed {
    background-image: url('img/bg_1.jpg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }
  /*--- Bootstrap Padding Fix --*/
  [class*="col-"] {
      padding: 1rem;
  }





  /*
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap

  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }

  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }

  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }

  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  */
