@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Wallpoet&display=swap');


html, body {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000000;
}
.navbar {
  padding: .5rem;
  font-weight: 700;
  font-size: .8rem;
  letter-spacing: .1rem;
  background-color: #00000080 !important;
}
.navbar-brand h1 {
  background: linear-gradient(to right, #FFDD00 0%, #FBB034 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  font-family: 'Wallpoet', cursive;
  font: {
    size: 20vw;
    family: $font;
  };
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-nav li {
  padding-right: 30px;
}
.nav-link {
  font-size: 1.1em !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffff;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fbff00 !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fbff00 !important;
}
.carousel-inner img {
  width: 100%;
}
.carousel-caption {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0%;
  right: 0%;
  transform: translateY(-50%);
}
.carousel-caption > .carousel-h1 {
  text-transform: uppercase;
  font-size: 5vw;
  color: #fcd307;
  line-height: .9;
  letter-spacing: 1px;
  font-weight: 900;
}
.carousel-caption > .carousel-h1 .carousel-span {
  font-size: 14vw;
  display: block;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fcd307;
}
.carousel-indicators > li {
  border-radius: 50%;
  width: .7rem;
  height: .7rem;
  background-color: #404040;
}
.btn-primary {
  background: linear-gradient(to right, #FFDD00 0%, #FBB034 100%);
  border: 2px solid #FFDD00;
  border-radius: 2rem;
  margin-left: .5rem;
}
.btn-primary:hover {
  background: #00000000;
  border: 2px solid #FFDD00;
  color: #FFDD00;
}
.btn-primary:focus {
  outline: none !important;
}
.card {
  box-shadow: 0px 0px 10px #000000;
}
.img-fluid {
  box-shadow: 0px 0px 10px #b4b4b4;
}
.card-body > h4 p{
  text-align: center;
  font-size: 1em !important;
}
p {
  text-align: justify;
  font-size: 1.1em !important;
  color: #666666;
  line-height: 2.5rem;
}
.padding {
  padding-bottom: 1rem;
}
footer {
  background-color: #000000;
  color: #d5d5d5;
  padding-top: 2rem;
}
footer h5 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  text-align: left;
}
footer p {
  text-align: left;
  color: #c7c7c7d1;
  font-size: 1em !important;
  font-weight: 400;
}
footer .fa-facebook,
footer .fa-twitter,
footer .fa-instagram,
footer .fa-skype,
footer .fa-google {
  font-size: 1.5em;
}
.block-23 ul {
  padding: 0; }
.block-23 ul li, .block-23 ul li > a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px; }
.block-23 ul li span {
  color: rgba(255, 255, 255, 0.7); }
.block-23 ul li .icon, .block-23 ul li .text {
  display: table-cell;
  vertical-align: top; }
.block-23 ul li .icon {
  width: 20px;
  font-size: 18px;
  padding-top: 2px;
  color: white; 
}

.foo-text {
  font-size: 1em !important;
}
hr.light {
  border-top: 1px solid #d5d5dd;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
hr.light-100 {
  border-top: 1px solid #d5d5dd;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
button:focus {
  outline: none;
}

/*services*/
.display-4 {
  font-size: 300%;
  background: linear-gradient(to right, #e02626 0%, #ee892b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome {
  padding-top: 2rem;
  width: 75%;
  margin: 0 auto;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.text-black {
  font-size: 1.3em;
  padding-top: 4rem;
}
.social a {
font-size: 1.1em;
padding: .6rem;
}
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-skype,
.fa-google {
color: #ff7e05;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-skype:hover,
.fa-google:hover {
color: #ffc505;
} 









/*---Media Queries --*/
@media (max-width: 992px) {
  .text-black {
    font-size: 1.2em;
    padding-top: 1.5rem;
  }
  .social a {
    font-size: .9em;
    padding: .4rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
  top: 35%;
  }
  .carousel-caption h1 {
  font-size: 400% !important;
  font-weight: 600 !important;
  }
  .carousel-caption > h1 span {
    font-size: 16vw;
    display: block;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fcd307;
}
  
  .display-4 {
  font-size: 160%;
  }
  .text-black {
    font-size: 1em;
    padding-top: 1.5rem;
  }
  .social a {
    font-size: 1.1em;
    padding: .7rem;
  }
}
@media (max-width: 576px) {
    .carousel-caption {
    top: 25%;
  }
  .carousel-caption h1 {
    font-size: 180% !important;
    margin-bottom: .2rem;
  }
  .display-4 {
  font-size: 160%;
  }
  .text-black {
    font-size: .6em;
    padding-top: 1.2rem;
  }
  .social a {
    font-size: 1.1em;
    padding: .7rem;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/bg_1.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
