@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #000000;
}
.navbar {
  padding: .8rem;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: #00000080 !important;
}
.navbar-brand h1 {
	background: linear-gradient(to right, #e02626 0%, #ee892b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 1.5em;
	font: {
		size: 20vw;
		family: $font;
	};
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-nav li {
  padding-right: 30px;
}
.nav-link {
  font-size: 1.1em !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffff;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #e43c3cda !important;
}
.carousel-inner img {
  height: 100%;
  width: 100%;
}
.carousel-caption {
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-indicators > li {
  border-radius: 50%;
  width: .7rem;
  height: .7rem;
  background-color: #404040;
}
.carousel-caption > h1, h2, h3 {
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}
.carousel-caption h1 {
  font-size: 500%;
}
.carousel-caption h2 {
  font-size: 400%;
}
.carousel-caption h3 {
  font-size: 300%;
}
.btn-primary {
  background: linear-gradient(to right, #e02626 0%, #ee892b 100%);
  border: 2px solid #e74444;
  margin-left: .5rem;
}
.btn-primary:hover {
  background: #00000000;
  border: 2px solid #e02626;
}
.img-circle {
  border-radius: 50%;
  align-self: center;
  margin-top: 20%;
  margin-bottom: 15%;
  width: 70%;
  height: 70%;
  overflow: hidden;
}
h4 {
  text-align: center;
}
.padding {
  padding-bottom: 1rem;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5dd;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
hr.light-100 {
  border-top: 1px solid #d5d5dd;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
button:focus {
  outline: none;
}

/*services*/
.display-4 {
  font-size: 300%;
  background: linear-gradient(to right, #e02626 0%, #ee892b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.welcome {
  padding-top: 2rem;
  width: 75%;
  margin: 0 auto;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}


/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .carousel-caption {
  top: 45%;
  }
  .carousel-caption h1 {
   font-size: 300%;
  }
  .carousel-caption h2 {
   font-size: 280%;
  }
  .carousel-caption h3 {
   font-size: 200%;
   font-weight: 400;
   padding-top: .5rem;
   padding-bottom: .2rem;
  }
  .carousel-caption .btn {
   font-size: 95%;
  padding: 8px 14px;
  }
  .display-4 {
  font-size: 160%;
  }
}
@media (max-width: 576px) {
    .carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 230%;
    margin-bottom: .2rem;
  }
  .carousel-caption h2 {
    font-size: 205%;
  }
  .carousel-caption h3 {
    font-size: 150%;
    font-weight: 400;
    padding-top: .5rem; 
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
   font-size: 90%;
   padding: 4px 8px;
  }
  .carousel-indicators > li{
   border-radius: 50%;
   width: .5rem;
   height: .5rem;
   background-color: #404040;
  }
  .display-4 {
  font-size: 160%;
  }

}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/img2.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
