.carousel-caption .breadcrumbs {
    text-transform: uppercase;
    font-size: .8em !important;
    letter-spacing: 1px;
    margin-bottom: 20px;
    z-index: 99;
    font-weight: 900;
    letter-spacing: 2px; 
}
.carousel-caption .breadcrumbs span {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5); 
}
.carousel-caption .breadcrumbs span a {
    color: #fff; 
    text-decoration: none;
}
.carousel-caption .bread {
    text-transform: uppercase;
    font-size: 5em !important;
    color: #fcd307;
    line-height: 1.2;
    letter-spacing: 2px !important;
    font-weight: 900;
    font-style: italic; 
}
.coach {
  width: 100%;
  display: block;
  margin-bottom: 30px; 
  box-shadow: none;
  border: none;
}
.coach img, .coach .text {
    width: 100%; 
    text-align: left;
}
.coach img {
    height: 21.25rem;
    background-position: top center !important;
    position: relative;
}
.coach .img-overlay {
    position: absolute;
    height: 21.25rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    border-left: 10px dashed #fcd307;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
.coach .text {
    width: 100%; 
}
.coach .card-text {
    text-align: left;
}
.coach:hover .img-overlay:hover, .coach:focus .img-overlay:after {
    border-left: 10px dashed #fd5f00; 
}
.coach .heading-section span {
    font-size: .8em !important;
    letter-spacing: 1.2px;
}
.coach .heading p {
    color: #313131;
    font-size: .7em !important;
    text-transform: uppercase;
}
.admin-login {
    width: 40%;
    border: #313131 solid 1px;
    transform: translateX(50%);
}
.coach .model-img {
    width: 45%;
    height: 10vh;
    margin: 2rem;
}
.modal-body input[type="file"]
{
    display: none;
}
.modal-body label {
    color: #fc8307;
    border: #fd6602 solid 1.3px;
    border-radius: 2rem;
    font-size: 1em;
    height: 5vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*---Media Queries --*/
@media (max-width: 1025px) {
    .admin-login {
        width: 90%;
        border: #313131 solid 1px;
        transform: translateX(10%);
    }
    .coach .model-img {
        width: 65%;
        height: 10vh;
        margin: 2rem;
    }
}
@media (max-width: 992px) {
    .admin-login {
        width: 80%;
        border: #313131 solid 1px;
        transform: translateX(50%);
    }
    .coach .model-img {
        width: 45%;
        height: 10vh;
        margin: 2rem;
    }
}
@media (max-width: 768px) {
    .admin-login {
        width: 40%;
        border: #313131 solid 1px;
        transform: translateX(50%);
    }
    .coach .model-img {
        width: 50%;
        height: 10vh;
        margin: 2rem;
    }
}
@media (max-width: 576px) {
    .admin-login {
        width: 40%;
        border: #313131 solid 1px;
        transform: translateX(75%);
    }
    .coach .model-img {
        width: 60%;
        height: 10vh;
        margin: 2rem;
    }
}
@media (max-width: 369px) {
    .admin-login {
        width: 50%;
        border: #313131 solid 1px;
        transform: translateX(50%);
    }
    .coach .model-img {
        width: 50%;
        height: 10vh;
        margin: 2rem;
    }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
